.nav-bg {
    background-color: #2d2d2d;
}

@font-face {
    font-family: flame-reguler;
    src: url("/public/assets/fonts/flame-font/FlameRegular.otf");
}

@font-face {
    font-family: flame-bold;
    src: url("/public/assets/fonts/flame-font/FlameBold.otf");
}

.box {
    box-shadow: 2px 2px 15px -4px #6b6b6b;
    box-sizing: border-box;
}